{
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 100,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": [
        "*.html"
      ],
      "options": {
        "singleQuote": true,
        "parser": "angular"
      }
    }
  ]
}
