.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.auth-form {
  width: 100%;
  min-width: 150px;
  max-width: 500px;
}

form {
  width: 300px;
}
