<mat-form-field [formGroup]="group" class="demo-full-width margin-top">
    <input
        [formControlName]="field.name"
        [matDatepicker]="picker"
        [placeholder]="field.name"
        matInput
    />
    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-hint></mat-hint>
    <ng-container *ngFor="let validation of field.validators" ngProjectAs="mat-error">
        <mat-error *ngIf="group.get(field.name)?.hasError(validation.constraint)">{{
            validation.message
        }}</mat-error>
    </ng-container>
</mat-form-field>
