<form (submit)='onSubmit($event)' [formGroup]='form' autocomplete='off'>
  <div class='row overflow-hidden'>
    <div *ngFor='let field of fields; trackBy: trackById' class='col-12'>
      <ng-container
        [field]='field'
        formControlName='{{field.name}}'
        formidableDynamicField
      ></ng-container>
    </div>

    <div>
      {{ form.value | json }}
    </div>

    <ng-container
      *ngTemplateOutlet='buttonTemplate ? buttonTemplate : defaultButton'
    ></ng-container>
  </div>
</form>

<ng-template #defaultButton>
  <formidable-button
    *ngIf='buttonText'
    [loading]='(loading$ | async) ?? false'
    [text]='buttonText'
    class='d-flex justify-content-end'
    type='submit'
  ></formidable-button>
</ng-template>
