@use 'texts';
@use 'variables' as defaultVars;

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.list-item-active {
  background: rgba(0, 0, 0, 0.04);
  color: defaultVars.$accent-900 !important;
  font-weight: bold;
}
