<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false && (currentUrl$ | async) !== '/'"
    class="sidenav"
    fixedInViewport
  >
    <mat-toolbar class="primary-text">Meniu</mat-toolbar>

    <mat-nav-list>
      <ng-container *ngFor="let item of menuItems">
        <ng-container *ngIf="!item.hide || (item.hide() | async) === false">
          <mat-list-item (click)="item.action()" *ngIf="item.action" class="primary-text">
            <ng-container
              [ngTemplateOutletContext]="{ menuItem: item }"
              [ngTemplateOutlet]="listItem"
            ></ng-container>
          </mat-list-item>

          <mat-list-item
            *ngIf="!item.action"
            [routerLinkActiveOptions]="{
              queryParams: 'ignored',
              matrixParams: 'ignored',
              fragment: 'ignored',
              paths: 'exact'
            }"
            [routerLinkActive]="'list-item-active'"
            [routerLink]="item.routerLink"
            class="primary-text"
          >
            <ng-container
              [ngTemplateOutletContext]="{ menuItem: item }"
              [ngTemplateOutlet]="listItem"
            ></ng-container>
          </mat-list-item>
        </ng-container>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z10" color="primary">
      <button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async) && (currentUrl$ | async) !== '/'"
        [matTooltip]="'Toggle sidenav'"
        mat-icon-button
        type="button"
      >
        <mat-icon fontSet="material-icons-round">menu</mat-icon>
      </button>

      <span>Admitere UPT</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #listItem let-menuItem="menuItem">
  <mat-icon fontSet="material-icons-round">{{ menuItem.icon }}</mat-icon>
  <a class="ps-2">{{ menuItem.text }}</a>
</ng-template>
