<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false && (currentUrl$ | async) !== '/'"
    class="sidenav"
    fixedInViewport
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a [routerLink]="['/']" mat-list-item>Main page</a>

      <ng-container *ngIf="authService.isLoggedIn$ | async; else authLinks">
        <a [routerLink]="['/home']" mat-list-item>Home</a>
        <a (click)="authService.logout()" mat-list-item> Logout </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z10" color="primary">
      <button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async) && (currentUrl$ | async) !== '/'"
        aria-label="Toggle sidenav"
        mat-icon-button
        type="button"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Enroll</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #authLinks>
  <a [routerLinkActive]="'d-none'" [routerLink]="'/auth/login'" mat-list-item>Log in</a>
  <a [routerLinkActive]="'d-none'" [routerLink]="'/auth/register'" mat-list-item>Register</a>
</ng-template>
