<mat-card *ngIf="form" class="example-card mat-elevation-z10">
  <mat-card-header>
    <div
      [style.backgroundImage]="'url(' + (form.avatar || defaultAvatarUrl) + ')'"
      [style.backgroundSize]="'cover'"
      mat-card-avatar
    ></div>
    <mat-card-title>{{ form.name }}</mat-card-title>
    <mat-card-subtitle>&nbsp;</mat-card-subtitle>
  </mat-card-header>

  <img [src]="form.image || defaultImageUrl" alt="UPT" mat-card-image />

  <mat-card-content>
    <p [innerHTML]="form.description" class="text-clip"></p>
  </mat-card-content>

  <mat-card-actions class="d-flex justify-content-evenly my-2">
    <formidable-link
      [color]="btnColors.primary"
      [link]="'forms/' + form.id.toString() + '/sections'"
      [matIcon]="'checklist_rtl'"
      [textColor]="textColors.accent"
      [text]="'Aplică'"
    ></formidable-link>
    <formidable-link [link]="'forms/' + form.id.toString()" [text]="'Detalii'"></formidable-link>
  </mat-card-actions>
</mat-card>
