<mat-stepper
  (selectionChange)='stepSelectionChange($event)'
  [orientation]='(stepperOrientation$ | async)!'
>
  <mat-step *ngFor='let section of sections; trackBy: trackById'>
    <ng-template matStepLabel>{{ section.name }}</ng-template>
    <ng-template matStepContent>
      <ng-container *ngIf='isCurrentSection(section.id); else spinner'>
        <formidable-form-builder
          (formSubmit)='submit($event)'
          [buttonTemplate]='buttons'
          [fields]='currentSection.fields'
        >
          <ng-template #buttons>
            <div class='d-flex'>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </ng-template>
        </formidable-form-builder>
      </ng-container>
    </ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <ng-template matStepContent>
      <p>You are now done.</p>
      <button mat-button matStepperPrevious>Back</button>
    </ng-template>
  </mat-step>
</mat-stepper>

<ng-template #spinner>
  <div class='content-center'>
    <mat-spinner class='m-auto'></mat-spinner>
  </div>
</ng-template>
