<mat-stepper [orientation]="(stepperOrientation$ | async) ?? 'horizontal'">
  <mat-step *ngFor="let section of minimalSections$ | async; trackBy: trackByFn">
    <ng-template matStepLabel>{{ section.name }}</ng-template>

    <ng-template matStepContent>
      <formidable-form-step [sectionId]="section.id"></formidable-form-step>

      <ng-container *ngIf="sectionsService.loading$ | async">
        <div class="content-center">
          <mat-spinner class="m-auto"></mat-spinner>
        </div>
      </ng-container>
    </ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <ng-template matStepContent>
      <p>You are now done.</p>
      <button mat-button matStepperPrevious>Înapoi</button>
    </ng-template>
  </mat-step>
</mat-stepper>
