@use 'variables';

a {
  font-size: 16px;
  min-width: 130px !important;
}

.primary {
  color: variables.$primary-500;
}

.accent {
  color: variables.$accent-500;
}

mat-icon {
  margin-block-end: 0.1rem; // equal to margin-bottom
  margin-inline-start: 7px; // equal to margin-left
}
