<section class="auth-container">
  <mat-card class="d-flex justify-content-center">
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="d-flex flex-column">
      <h2 class="text-center pb-2 text-secondary">Log In</h2>

      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input
          [errorStateMatcher]="matcher"
          formControlName="email"
          matInput
          placeholder="Email"
          title="Email"
        />
        <mat-error>
          <span *ngIf="!form.get('email')?.valid && form.get('email')?.touched"
          >Please enter email</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input
          [errorStateMatcher]="matcher"
          autocomplete="off"
          formControlName="password"
          matInput
          placeholder="Password"
          title="Password"
          type="password"
        />
        <mat-error>
          <p *ngIf="!form.get('password')?.valid && form.get('password')?.touched">
            Please enter Password
          </p>
        </mat-error>
      </mat-form-field>

      <mat-error>
        <p *ngIf="isAuthError$ | async" class="text-center">Incorrect email or
          password</p>
      </mat-error>

      <formidable-button
        (action)="onSubmit()"
        [disabled]="
          (!form.get('email')?.value && !form.get('password')?.value) || !form.valid
        "
        [loading]="(isLoading$ | async) ?? false"
        [text]="'Login'"
        [type]="'submit'"
        class="flex-column align-self-center"
        matIcon="login"
      ></formidable-button>

      <h6 class="text-center fw-light pt-4">Don't have an account?</h6>

      <formidable-button
        [color]="'link'"
        [routerLink]="'/auth/register'"
        [text]="'Register'"
        class="flex-column align-self-center"
        matIcon="how_to_reg"
      ></formidable-button>
    </form>
  </mat-card>
</section>
