<div class="auth-container">
  <mat-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column">
      <h2 class="text-center pb-2 text-secondary">Log In</h2>

      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Email"
          title="Email"
          formControlName="email"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span *ngIf="!form.get('email')?.valid && form.get('email')?.touched"
            >Please enter email</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Password"
          title="Password"
          formControlName="password"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <p *ngIf="!form.get('password')?.valid && form.get('password')?.touched">
            Please enter Password
          </p>
        </mat-error>
      </mat-form-field>

      <mat-error>
        <p *ngIf="authError" class='text-center'>Incorrect email or password</p>
      </mat-error>

      <formidable-button
        class="flex-column align-self-center"
        [disabled]="
          (!form.get('email')?.value && !form.get('password')?.value) || !form.valid
        "
        [loading]="isLoading"
        [text]="'Login'"
        [type]="'submit'"
        matIcon="login"
        (action)="onSubmit()"
      ></formidable-button>

      <h6 class="text-center fw-light pt-4">Don't have an account?</h6>
      <formidable-button
        class="flex-column align-self-center"
        [text]="'Register'"
        [color]="'link'"
        matIcon="how_to_reg"
        [routerLink]="'/auth/register'"
      ></formidable-button>
    </form>
  </mat-card>
</div>
