<div class='content-center' *ngIf='!fields$'>
  <mat-spinner class='m-auto'></mat-spinner>
</div>

<mat-card class='row justify-content-center' *ngIf='fields$ | async as fields'>
  <div class='content-center' *ngIf='fields === null'>
    <p class='m-auto'>There are no fields!</p>
  </div>

  <div class='col-sm-12 col-md-10 col-lg-8 m-auto' *ngIf='fields'>
    <formidable-form-builder
      (formSubmit)='submit($event)'
      [fields]='fields'
    ></formidable-form-builder>
  </div>
</mat-card>
